.card {
  @apply w-full hover:shadow-xl shadow-lg p-5 transition-all border-2 border-solid border-gray-100;
}

.card div:first-child div:first-child {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.card:hover div:first-child div:first-child {
  opacity: 0.7;
}

.image-container {
  @apply relative h-48 w-full cursor-pointer overflow-hidden;
}
