.link-label {
  @apply tracking-wide flex flex-row items-center space-x-1;
}

.link-label p:first-child {
  transition: transform 0.2s ease-in-out 0.1s;
}

.link-label:hover p:first-child {
  transition: transform 0.2s ease-in-out;
  transform: translateX(-3px);
}

.link-label:hover svg {
  animation: phaseOut 0.5s ease-in-out forwards infinite;
}

@keyframes phaseOut {
  from {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(0);
  }
}
