@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  h1 {
    @apply text-5xl sm:text-8xl my-8;
  }

  h3 {
    @apply sm:text-2xl;
  }

  p {
    @apply font-light;
  }

  a {
    @apply hover:text-green-300 transition-colors font-normal;
  }

  body::-webkit-scrollbar {
    width: 16px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-green-900;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-green-600 border-green-500;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
  }

  .contained {
    @apply container max-w-screen-xl mx-auto px-5 my-20;
  }

  .intro {
    @apply text-xl font-semibold my-6 block;
  }

  .animate-bouncer:hover {
    animation: bounce 0.3s ease-in-out forwards infinite;
  }

  .animate-enlarge:hover {
    animation: enlarge 0.6s ease-in-out forwards infinite;
  }

  @keyframes bounce {
    from {
      transform: rotateZ(0deg);
    }
    5% {
      transform: rotateZ(-2deg);
    }
    50% {
      transform: rotateZ(6deg);
    }
    95% {
      transform: rotateZ(-2deg);
    }
    to {
      transform: rotateZ(0deg);
    }
  }

  @keyframes enlarge {
    from {
      transform: scale(1) rotate(-2deg);
    }
    50% {
      transform: scale(1.1) rotate(3deg);
    }
    to {
      transform: scale(1) rotate(-2deg);
    }
  }
}
